<html>
    <head>
        <title>Fit Activists | Your Wellness Dashboard</title>
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="" href="static/fonts/marker_felt.ttf">
    </head>
    <body>
        <div class="container">
            <div class="header-bar">
                <p>Fit Activists</p>
            </div>
            <div class="charity-wrap">
                <h1 class="charity-type">$500 towards</h1>
                <div class="donate-btn">
                    <div class="charity-logo charity-logo-1"></div>
                </div>
                <div class="donate-btn">
                    <div class="charity-logo charity-logo-2"></div>
                </div>
                <div class="donate-btn">
                    <div class="charity-logo charity-logo-3"></div>
                </div>
            </div>
        </div>
    </body>
</html>