<html>
    <title>Fit Activists | Sign up</title>
    <body>
        <form role="form" action="/do-signup" method="post">
            <input type="email" name="email" placeholder="Email" required autofocus>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="date" name="date_of_birth" required>
            <input type="text" name="company_name" placeholder="Company Name" required>
            <input type="text" name="team_name" placeholder="Team Name" required>
            <button type="submit">Sign up</button>
        </form>
    </body>
</html>
